# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/
ENV/

# IDEs
.vscode/
.idea/

# Build and Release
bin/
release/
*.spec

# Runtime data
.env
app_data/
*.log
*.tmp
current_host.txt

# Minecraft specific
server/
backups/
shared/

# OS specific
.DS_Store
Thumbs.db
